

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="myCompanyPageLabel">Create or edit a Company Page</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!companyPage.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="companyPage.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_companyCode">Company Code</label>
            <input type="text" class="form-control" name="companyCode" id="field_companyCode"
                [(ngModel)]="companyPage.companyCode"
            required />
            <div [hidden]="!(editForm.controls.companyCode?.dirty && editForm.controls.companyCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.companyCode?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_pageCode">Page Code</label>
            <input type="text" class="form-control" name="pageCode" id="field_pageCode"
                [(ngModel)]="companyPage.pageCode"
            required />
            <div [hidden]="!(editForm.controls.pageCode?.dirty && editForm.controls.pageCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.pageCode?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="field_model">Model</label>
            <select class="form-control" id="field_model" name="model" [(ngModel)]="companyPage.model" >
                <option [ngValue]="null"></option>
                <option [ngValue]="modelOption.id === companyPage.model?.id ? companyPage.model : modelOption" *ngFor="let modelOption of models; trackBy: trackModelById">{{modelOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
