<div>
    <h2><span>Line Details</span>
        <button class="btn btn-primary float-xs-right create-line-details" [routerLink]="['/', { outlets: { popup: ['line-details-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Line Details
            </span>
        </button></h2>
    <jhi-alert></jhi-alert>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right">
                        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                        <span  class="input-group-btn width-min">
                            <button class="btn btn-info" (click)="search(currentSearch)">
                                <span class="fa fa-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" *ngIf="currentSearch">
                            <button class="btn btn-info" (click)="clear()">
                                <span class="fa fa-trash-o"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="lineDetails">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Heading</span></th>
            <th><span>Code</span></th>
            <th><span>Description</span></th>
            <th><span>Equation</span></th>
            <th><span>Line Number</span></th>
            <th><span>Rule Text</span></th>
            <th><span>Line Type</span></th>
            <th><span>Company Type</span></th>
            <th><span>Use Confidence Grade</span></th>
            <th><span>Validation Rule Code</span></th>
            <th><span>Text Code</span></th>
            <th><span>Unit</span></th>
            <th><span>Decimal Places</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lineDetails of lineDetails ;trackBy: trackId">
                <td><a [routerLink]="['../line-details', lineDetails.id ]">{{lineDetails.id}}</a></td>
                <td>{{lineDetails.heading}}</td>
                <td>{{lineDetails.code}}</td>
                <td>{{lineDetails.description}}</td>
                <td>{{lineDetails.equation}}</td>
                <td>{{lineDetails.lineNumber}}</td>
                <td>{{lineDetails.ruleText}}</td>
                <td>{{lineDetails.lineType}}</td>
                <td>{{lineDetails.companyType}}</td>
                <td>{{lineDetails.useConfidenceGrade}}</td>
                <td>{{lineDetails.validationRuleCode}}</td>
                <td>{{lineDetails.textCode}}</td>
                <td>{{lineDetails.unit}}</td>
                <td>{{lineDetails.decimalPlaces}}</td>
                <td class="text-xs-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../line-details', lineDetails.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'line-details/'+ lineDetails.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'line-details/'+ lineDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
