
<div *ngIf="cellRange">
    <h2><span>Cell Range</span> {{cellRange.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span>Start Year</span></dt>
        <dd>
            <span>{{cellRange.startYear}}</span>
        </dd>
        <dt><span>End Year</span></dt>
        <dd>
            <span>{{cellRange.endYear}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cell-range/'+ cellRange.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
