

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="myFormCellLabel">Create or edit a Form Cell</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!formCell.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="formCell.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_cellCode">Cell Code</label>
            <input type="text" class="form-control" name="cellCode" id="field_cellCode"
                [(ngModel)]="formCell.cellCode"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_useConfidenceGrade">Use Confidence Grade</label>
            <input type="checkbox" class="form-control" name="useConfidenceGrade" id="field_useConfidenceGrade"
                [(ngModel)]="formCell.useConfidenceGrade"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_inputConfidenceGrade">Input Confidence Grade</label>
            <input type="checkbox" class="form-control" name="inputConfidenceGrade" id="field_inputConfidenceGrade"
                [(ngModel)]="formCell.inputConfidenceGrade"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_confidenceGradeInputCode">Confidence Grade Input Code</label>
            <input type="text" class="form-control" name="confidenceGradeInputCode" id="field_confidenceGradeInputCode"
                [(ngModel)]="formCell.confidenceGradeInputCode"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_rowHeadingSource">Row Heading Source</label>
            <input type="checkbox" class="form-control" name="rowHeadingSource" id="field_rowHeadingSource"
                [(ngModel)]="formCell.rowHeadingSource"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_columnHeadingSource">Column Heading Source</label>
            <input type="checkbox" class="form-control" name="columnHeadingSource" id="field_columnHeadingSource"
                [(ngModel)]="formCell.columnHeadingSource"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_groupDescriptionCode">Group Description Code</label>
            <input type="text" class="form-control" name="groupDescriptionCode" id="field_groupDescriptionCode"
                [(ngModel)]="formCell.groupDescriptionCode"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_row">Row</label>
            <input type="text" class="form-control" name="row" id="field_row"
                [(ngModel)]="formCell.row"
            required />
            <div [hidden]="!(editForm.controls.row?.dirty && editForm.controls.row?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.row?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_formColumn">Form Column</label>
            <input type="text" class="form-control" name="formColumn" id="field_formColumn"
                [(ngModel)]="formCell.formColumn"
            required />
            <div [hidden]="!(editForm.controls.formColumn?.dirty && editForm.controls.formColumn?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.formColumn?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_rowSpan">Row Span</label>
            <input type="text" class="form-control" name="rowSpan" id="field_rowSpan"
                [(ngModel)]="formCell.rowSpan"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_formColumnSpan">Form Column Span</label>
            <input type="text" class="form-control" name="formColumnSpan" id="field_formColumnSpan"
                [(ngModel)]="formCell.formColumnSpan"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_width">Width</label>
            <input type="text" class="form-control" name="width" id="field_width"
                [(ngModel)]="formCell.width"
             />
        </div>

        <div class="form-group">
            <label for="field_form">Form</label>
            <select class="form-control" id="field_form" name="form" [(ngModel)]="formCell.form" >
                <option [ngValue]="null"></option>
                <option [ngValue]="formOption.id === formCell.form?.id ? formCell.form : formOption" *ngFor="let formOption of forms; trackBy: trackFormById">{{formOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
